@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Avion";
}

<div>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link " href='@Url.Action("Profil","Airline",new { id=Model.Id})'>Opis</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href='@Url.Action("Letovi","Airline",new { id=Model.Id})'>Letovi</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href='@Url.Action("DodatneUsluge","Airline",new { id=Model.Id})'>Dodatne Usluge</a>
        </li>
        @if (Context.Session.GetString("Admin") != null)
        {
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Destinacije", "Airline", new { id = Model.Id })'>Dodaj destinaciju</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href='@Url.Action("Avion", "Airline", new { id = Model.Id })'>Avion</a>
            </li>

        }
    </ul>


</div>

