@using Microsoft.AspNetCore.Http
@model EasyFlight.ViewModel.AirlineHomeViewModel;

@{
    ViewData["Title"] = "Destinacije";
}




<div>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href='@Url.Action("Profil","Airline",new { id=Model.Id})'>Opis</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href='@Url.Action("Letovi","Airline",new { id=Model.Id})'>Letovi</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href='@Url.Action("DodatneUsluge","Airline",new { id=Model.Id})'>Dodatne Usluge</a>
        </li>
        @if (Context.Session.GetString("Admin") != null)
        {
            <li class="nav-item ">
                <a class="nav-link active" href='@Url.Action("Destinacije", "Airline", new { id = Model.Id })'>Dodaj destinaciju</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Avion", "Airline", new { id = Model.Id })'>Avion</a>
            </li>

        }
    </ul>


</div>
<input type="hidden" name="Id" value=@Html.DisplayFor(modelItem => Model.Id)>

