@model IEnumerable<EasyFlight.Models.Airline>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post" action="https://localhost:44300/Airline/Profil">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <input type="hidden" name="Id" value=@Html.DisplayFor(modelItem => item.Id)>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>

                    <td>

                        @Html.ActionLink("Airline", "Profil", new { id = item.Id })

                    </td>

                </tr>

            }
        </tbody>
    </table>
</form>